<!DOCTYPE html>
<html>

<head>
  <title><%= pageTitle %></title>
  <link rel="stylesheet" href="/stylesheets/navigation.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/common.css">
  <script src="/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  <!-- <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous"> -->
  <!-- <link rel="stylesheet" href="/stylesheets/swiper.css"> -->
  <!-- <script src="/javascripts/swiper.js"></script> -->

  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
